.CardContainer {
  display: flex;
  justify-content: center;
  text-align: center;
}

.loginCard {
  margin-top: 40px;
  background-color: rgb(206, 200, 193);
  width: 30%;
  height: 60vh;
  border-radius: 20px;
}
